{% extends 'base.html.twig' %}

{% block title %}Modifier mon adresse - {{ contact_company }}{% endblock %}

{% block content %}
<div class="container edit-address">
    <p class="h2">Modifier mon adresse</p>
    <div class="float-address">
        <a href="{{ path('account_address_add') }}" class="btn btn-main"><i class="fa-solid fa-plus"></i> Ajouter une adresse</a>
    </div>
    {% if app.user.addresses|length == 0 %}
        <p class="empty-address">Vous n'avez pas encore ajouter d'adresses dans votre compte client. Pour en ajouter une, veuillez <a href="{{ path('account_address_add') }}">cliquer ici.</a></p>
    {% else %}
    <div class="row">
        {% for address in app.user.addresses %}
        <div class="col-md-3">
            <div class="card-body">
                <h5 class="card-title">{{ address.name }}</h5>
                <p class="card-text">{{ address.address }}</br>{{ address.postal }} - {{ address.city }} - {{ address.country }}</p>
                <a href="{{ path('account_address_edit', {'id' : address.id} ) }}" class="btn btn-main">Modifier</a>
                <a href="{{ path('account_address_delete', {'id' : address.id} ) }}" class="btn btn-second">Supprimer</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{{ path('account') }}">Retourner à mon compte</a>
</div>



{% endblock %}

