{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block content %}

{% include 'article/list.html.twig' with { articles } %}

	<!-- Three columns of text below the carousel -->
	<h3>Nos meilleurs ventes</h3>
	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				{% include 'product/miniature.html.twig' %}
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->

	<div class="home-banner">
		<img class="logo-brasserie" src="../assets/img/logo-chtimiste.png" alt="logo de la brasserie">
		<span class="h2">Brasserie</span>
		<h1>La Ch'timiste</h1>
	</div>

	<div class="home-block1">
		<div class="row">
			{# {{ dump(var_home) }} #}
			{% for home in var_home %}
				<div class="col-md-5 home-block1_img">
					<img src="/uploads/{{ home.block1Img }}">
					<img class="img-absolute_top" src="../assets/img/stock-vector-brewery-vintage-poster-beer-glass-with-foam-and-bubbles-vector-illustration-layered-separate-1065660812.jpg">
					<img class="img-absolute_bottom" src="../assets/img/stock-vector-vintage-style-mug-of-beer-264498053.jpg">
				</div>
				<div class="col-md-5 home-block1_text">
					<h2 class="home-block1_text-seo seo ">{{ home.block1TitleSeo }}</h2>
					<p class="home-block1_text-title h2">{{ home.block1Title }}</p>
					<p class="home-block1_text-text">{{ home.block1Text | raw }}</p>
					<a href="{{ home.block1BtnLink }}" type="button" class="home-block1_text-text a-link">{{ home.block1Btn }}</a>
				</div>
			{% endfor %}
		</div>
	</div>

    {# {{ var_home.block1_img }}
    {{ var_home.block3_img }}
    {{ var_home.block3_title_seo }}
    {{ var_home.block3_title }}
    {{ var_home.block3_text }}
    {{ var_home.block5_title_seo }}
    {{ var_home.block5_title }}
    {{ var_home.block5_btn }}
    {{ var_home.block5_btn_link }}
    {{ var_home.block2_title_seo }}
    {{ var_home.block2_title }}
    {{ var_home.block2_text }} #}

{% endblock %}
