{% set products = menu_products() %}
{% set categories = menu_categories() %}
{% set productsIsBest = menu_productsIsBest() %}

<!DOCTYPE html>
<html lang="fr">
	<head>

		{# Métadonnée #}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Savourez le terroir nordiste dans chaque gorgée ! Notre boutique en ligne propose une variété de bières artisanales en provenance du nord de la France. Commandez dès aujourd'hui et laissez-vous emporter par la richesse des saveurs locales.">
		<meta name="author" content="Lucie Lonchamp">
		<link rel="alternate" hreflang="fr-FR" href="#">
		<meta name="generator" content="Jekyll v4.1.1">

		{# Titre #}
		<title>
			{% block title %} {{ contact_company }} - Bière artisanale du nord
			{% endblock %}
		</title>

		{# Bootstrap #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		{# Bootstrap icon #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
		{# Font Awesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		{# Librairie Slick #}
		<link
		rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		{# Custom #}
		<link href="{{ asset('assets/css/theme.min.css') }}" rel="stylesheet">

	</head>

	<body>

		{% include 'components/consent.html.twig' %}
		{% include 'components/header.html.twig' %}

			<main role="main">
				{% block content %}
				{% endblock %}
			</main>

		{% include 'components/footer.html.twig' %}
		{% block javascript %}{% endblock %}

		{# Bootstrap #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{# Jquery #}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		{# Librairie Slick #}
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		{# Custom #}
		<script src="{{ asset('assets/js/custom.js') }}"></script>
		<script src="{{ asset('assets/js/header.js') }}"></script>
		<script src="{{ asset('assets/js/consent.js') }}"></script>
		{# Cookie #}
		<script>
			document.addEventListener("DOMContentLoaded", (event) => {
				window.axeptioSettings = {
				clientId: "646518b1fa595c54c46cbc80",
				userCookiesDuration: 6*30
				};
				(function(d,s) {
				var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
				e.async = true; e.src = "//static.axept.io/sdk.js";
				t.parentNode.insertBefore(e, t);
				})(document, "script");
			});
		</script>

	</body>
</html>
