{% set menus = menu_service.findAll %}
{% set categories = menu_categories() %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Ma boutique">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Jekyll v4.1.1">
		<title>
			{% block title %}Ma boutique
			{% endblock %}
		</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
		
		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet">
	</head>
	<body>
		<header>
			{{ include('component/menu.html.twig') }}
			<ul class="nav nav-pills align-items-center">
				{% for menu in menus %}
					{% if menu.subMenus.count > 0 %}
								<span class="menu-label">{{ menu.name }}</span>
								{% for subMenu in menu.subMenus %}
									<a class="dropdown-item" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a>
								{% endfor %}
					{% else %}
						<li class="nav-item">
							<a href="{{ menu|menuLink }}" class="nav-link">
								<span class="menu-label">{{ menu.name }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{{ path('home') }}">Ma boutique</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('products') }}">Nos produits
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Qui sommes-nous ?
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('contact') }}">Contact
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('cart') }}">
								<i class="bi bi-cart-fill text-white"></i>
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{% if app.user %}
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('account') }}">
								Mon compte - {{app.user.firstname}} {{ app.user.lastname }}
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('app_logout') }}">
								Déconnexion
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{% else %} 
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('app_login') }}">
								Connexion
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('register') }}">
								Inscription
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>

		<main role="main">
			<div>
				<h1>Brasserie du nord</h1>
				<h2>Brasserie du nord</h2>
				<h3>Brasserie du nord</h3>
				<h4>Brasserie du nord</h4>
				<h1 class="seo">Brasserie du nord</h1>
				<p class="title">Brasserie du nord</p>
				<p>Brasserie du nord</p>
				<p class="p-bold">Brasserie du nord</p>
				<p class="p-space">Brasserie du nord</p>
				<p class="specific">Brasserie du nord</p>
			</div>
			{% if block('carousel') is defined %}
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					{% for key,header in headers %}
						<li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active"{% endif %}></li>
					{% endfor %}
					</ol>
					<div class="carousel-inner">
					{% for key,header in headers %}
						<div class="carousel-item {% if key == 0 %}active{% endif %}">
							<img src="/uploads/{{ header.illustration }}" alt="{{ header.title }}">
							<div class="container">
								<div class="carousel-caption text-left">
									<h1>{{ header.title }}</h1>
									<p>{{ header.content }}</p>
									<p>
										<a class="btn btn-lg btn-primary" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
						
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			{% endif %}


			<!-- Marketing messaging and featurettes
						    ================================================== -->
			<!-- Wrap the rest of the page in another container to center all the content. -->

			<div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}"> {% block content %}{% endblock %}


				</div>
				<!-- /.container -->

				<!-- FOOTER -->
				<footer class="container">
					<p class="float-right">
						<a href="#">Back to top</a>
					</p>
					<p>&copy; 2017-2020 Ma boutique, Inc. &middot;
						<a href="#">Privacy</a>
						&middot;
						<a href="#">Terms</a>
					</p>
				</footer>
			</main>
			{% block javascript %}
			{% endblock %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
		</body>
	</html>
