<div id="footer">
    <div class="container bkg">
        <img class="bkg-img" src="{{ asset('assets/img/logo-chtimiste-blanc.png') }}">
        <div class="footer-top col-md-8">
            <div class="rs">
                <img src="{{ asset('assets/img/facebook.svg') }}">
                <img src="{{ asset('assets/img/instagram.svg') }}">
            </div>
            <div class="title">
                <p class="seo">#LaCh'timiste</p>
                <p class="h3">Et du coup, comment ça se passe chez LaCh'timiste ?
                    <span class="h3">#LaCh'timiste</span>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container footer-bottom_content">
            <a href="#">La brasserie</a>
            <a href="#">La boutique</a>
            <img class="footer-bottom_img" src="{{ asset('assets/img/logo-chtimiste.png') }}">
            <a href="#">Nos engagements</a>
            <a href="{{ path('cgv')}}">CGV</a>
        </div>
        <div class="copyright"><p>Copyright © LaCh'timiste {{ "now"|date("m/d/Y") }} - fait par ... </p></div>
    </div>
</div>
