{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - {{ contact_company }}{% endblock %}

{% block content %}
<div class="container order-echec">
    <div class="row order-echec_flex">
        <div class="col-md-8">
            <p class="h3">Erreur de paiement</p>
            <p>Bonjour {{ order.user.firstname }} {{ order.user.lastname }}, il semblerait que votre paiement est echoué pour votre commande n°{{ order.reference }}. Une confirmation d'erreur vient de vous être envoyée à l'adresse e-mail suivante : {{ order.user.email }}.</p>
            <a href="{{ path('order') }}">Réessayer le paiement</a>
            <div class="img-order">
                <img src="{{ asset('assets/img/logo-grey.svg') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}

