{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - {{ contact_company }}{% endblock %}

{% block content %}
<div class="container confirm-success">
    <div class="row confirm-success_flex">
        <div class="col-md-8">
            <p class="h3">Confirmation de commande</p>
            <p>Bonjour {{ order.user.firstname }} {{ order.user.lastname }}, nous vous remercions pour votre commande n°{{ order.reference }}. Une confirmation par mail vient de vous être envoyée à l'adresse suivante : {{ order.user.email }}.</p>
            <p>Votre commande sera livrée par {{ order.carrierName }} à l'adresse suivante : <br> {{ order.delivery|raw }}.</p>
            <p>Pour suivre votre commande, rendez-vous dans vos <a href="{{ path('account_order') }}">commande</a>.</p>
            <div class="img-order">
                <img src="{{ asset('assets/img/logo-grey.svg') }}">
            </div>
        </div>
    </div>
</div>

{% endblock %}
