{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande -{% endblock %}

{% block content %}
<h2>Confirmation de commande</h2>
<p>Bonjour {{ order.user.firstname }} {{ order.user.lastname }}, nous vous remercions pour votre commande n°{{ order.reference }}. Une confirmation par mail vient de vous être envoyée à l'adresse suivante : {{ order.user.email }}.</p>
<p>Votre commande sera livrée par {{ order.carrierName }} à l'adresse suivante : <br> {{ order.delivery|raw }}.</p>
<p>Pour suivre votre commande, rendez-vous dans vos <a href="{{ path('account_order') }}">commande</a>.</p>
{% endblock %}
